<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>网页聊天</title>
  <link href="/css/dandan.css" rel="stylesheet" media="screen" type="text/css" />
</head>

<body>
  <div id="app">

    <div id="mid_top">

    </div>

    <div id="top">头部</div>
    <div id="body">
      <div id="left">
        <div class="box">
          <!-- 左侧的选择聊天的对象 -->
          <h4>上线好友:</h4>
          <br>
          <select v-model="to" name="" id="">
            <option value="">群发所有好友</option>
            <option v-for="(v,k) in userlist[0]" :value="k">{{v}}</option>
          </select>
          <br>
          <br>
          <!-- 右侧显示所有好友 -->
          <h3 class="h3 h3_2">所有好友(
            <span class="n_geshu_2"></span>)</h3>

          <ul class="ul ul_2">

            <?php foreach($users as $user){?>
            <li @click="choose()">
              <?=$user['uname']?>
            </li>
            <?php }?>
          </ul>
        </div>
        <div class="box_f"></div>
      </div>
      <div id="right">
        <div class="right_box">
          <div id="right_top">
          </div>
          <div id="right_mid"></div>
          <!-- 右侧的登录者信息显示 -->
          <div id="right_foot"></div>

          <div class="blank"></div>
        </div>
        <div class="right_box_foot"></div>
      </div>
      <div id="mid">
        <div id="mid_con">
          <div class="my_show">
            <div class="con_box">
              <div class="dandan_liaotian">
                <img style="vertical-align:middle;width:30px;margin-left:150px;" src="/images/head.jpg" />
                <!-- v-if 判断是群聊还是私聊 聊天对象头-->
                <span v-if=to==''>
                  <?php echo $_COOKIE['uname']?> 的群聊框
                </span>

                <span v-else-if=to!=''>
                  <?php echo $_COOKIE['uname']?> 对 {{userlist[0][to]}} 的私聊框
                </span>
                <input type="button" @click="logout()" value="退出">
                <!-- v-if 判断是群聊还是私聊  消息框 -->

                <li style="float:right;" v-if=to=='' v-for="(v,k) in message">

                    <template v-for='(v1,k1) in v[uid]'>
                      <div style="margin-bottom:40px">
                        <?=date('Y-m-d:h:i:s')?>
                          <p style="color:red;">{{v1}}</p>
                      </div>
                    </template>

                  </li>

                  <li v-if=to=='' v-for="(v,k) in message">

                      <div v-if=uid!=v1 v-for='(v1,k1) in uid_arr'>
                        
                        <template v-for='(v2,k2) in v[v1]'>
                       
                          <div style="margin-bottom:40px">
                            <?=date('Y-m-d:h:i:s')?>
                              <p style="color:red;">{{v2}}</p>
                          </div>
                        </template>
                      </div>
                    </li>

                <li style="float: left;" v-if=to!='' v-for="(v,k) in person">
                  <template v-for='(v1,k1) in v[obj]'>
                    <div style="margin-bottom:40px">
                      {{userlist[0][to]}} :
                      <?=date('Y-m-d:h:i:s')?>
                        <p style="color:red;">{{v1}}</p>
                    </div>
                  </template>
                </li>

                <li style="float: right;" v-if=to!='' v-for="(v,k) in person">
                  <template v-for='(v1,k1) in v[self]'>
                    <div style="margin-top:40px;">

                      <?=$_COOKIE['uname']?> :
                        <?=date('Y-m-d:h:i:s')?>
                          <p style="color:red;">{{v1}}</p>
                    </div>
                  </template>
                </li>

              </div>
            </div>
          </div>
        </div>
        <div id="mid_mid"></div>
        <div id="mid_foot">
          <div id="mid_say">
            <textarea v-model="content" name="" cols="" rows="" id="texterea"></textarea>
          </div>
          <div @click="submit()" id="mid_sand">发送</div>

          <div class="blank"></div>
        </div>
        <div class="mid_box"></div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
<script src="/js/axios.min.js"></script>
<script type="text/javascript" src="/js/dandan.js"></script>
<script src="/js/vue.js"></script>
<script type="text/javascript">
  //登陆的人
  $admin_name = "<?php echo $_COOKIE['uname']?>";


  const app = new Vue({

    el: "#app",

    data: {

      ws: null,//保存对象

      content: '',//内容

      userlist: [],//所有上线的用户

      message: [],//聊天的消息

      to: '',//判断是群发还是私聊

      self: '',//自己说的

      obj: '',//对象的回复的

      person: [],//私聊的信息

      uid:"<?=$_COOKIE['uid']?>",//当前登陆则会的uid

      uid_arr:[]//保存所有群发信息的用户uid

    },
    //钩子函数之一,实例被创建之后被调用,用来初始化数据
    created: function () {
      //连接workerman服务器
      this.ws = new WebSocket('ws://127.0.0.1:9999?own_info=' + '<?php echo $own_info; ?>');
      //绑定服务器连接监听函数
      this.ws.onopen = this.open;
      //绑定服务器消息响应监听函数      
      this.ws.onmessage = this.messages;
      //当哭护短断开链接时
      this.ws.onclose = this.close;
      //检测连接是否失败
      this.ws.onerror = this.error
    },

    //vue  框架的函数存放在这里
    methods: {
      error: function () {
        alert('连接失败！！！本地测试请确保开启服务器端');
        location.href = "http://localhost:8888/user/userlist";
      },
      //发送按钮
      submit: function () {

        //判断是否是群发还是私聊
        if (this.to == '') {

          this.ws.send("all:" + this.content);

          axios.post('/chat/save_all_chat', {
            uid: "<?=$_COOKIE['uid']?>",
            uname: "<?=$_COOKIE['uname']?>",
            content: this.content
          })
            .then(function (response) {

              alert('ok');
            })

          this.content = '';

        } else {

          this.ws.send(this.to + ":" + this.content);
      
          axios.post('/chat/save_single_chat', {
            self_obj: "<?=$_COOKIE['uid']?>" + this.to,
            uname: "<?=$_COOKIE['uname']?>",
            content: this.content
          })
            .then(function (response) {

              alert('ok');
            })

          this.content = '';

        }

      },
      logout: function () {
        // alert(1);
        this.ws.close();

        location.href = "/user/userlist";

      },
      //选择好友按钮
      choose: function () {

        alert("此功能需后期完善!");

      },
      //连接上聊天室的提示函数
      open: function () {

        alert('欢迎你<?= $_COOKIE["uname"]?>!!!');

      },
      //接收响应数据的函数
      messages: function (e) {

        var data = JSON.parse(e.data);//处理数据

        //判断数据类型
        if (data.type == 'users') {

          this.userlist = [];

          this.userlist.push(data.users);

        } else if (data.type == 'message') {

          // this.message = [];

          // this.message.push(data.message);

          this.message = data;

          console.log(this.message);
        }else if(data.type == 'uid_arr'){

          this.uid_arr = data.uid_arr;

          console.log(this.uid_arr);

        } else {

          this.person = data;

          var own_uid = "<?=$_COOKIE['uid']?>";

          this.self = own_uid + this.to;

          this.obj = this.to + own_uid;

          console.log(this.person);

        }

      },
    }

  });

</script>

</html>